body {
    background: #222222;
  }
  
  .ascii-section {
    position: absolute;
    top: 38%;
    margin-top: -200px;
    margin-left: -200px;
    font-family: monospace;
    color: #fff;
  }


  
  .social-links .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .social-links {
    display: flex;
  }
  
  .social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #222222;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: rgba(255, 255, 255, 0.81);
    margin: 5px;
    transition: 1s;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 1s;
    text-align: center;
  }
  
  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: max-content;
  }

  @media screen {
    .my-block {
      font-size: 0.5em;
    }
    .ascii-section {
        left: 51%;
    }
    .social-btn {
      height: 50px;
      width: 50px;
    }
    svg{
      width: 46px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .my-block {
      font-size: 0.4em;
    }
    .ascii-section {
        left: 54.5%;
    }
    .social-btn {
      height: 46px;
      width: 46px;
    }
    svg{
      width: 42px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .my-block {
      font-size: 0.3em;
    }
    .ascii-section {
        left: 54.5%;
    }
    .social-btn {
      height: 42px;
      width: 42px;
    }
    svg{
      width: 38px;
    }
  }

  @media screen and (max-width: 360px) {
    .my-block {
      font-size: 0.2em;
    }
    .ascii-section {
        left: 54.5%;
    }
    svg{
      width: 34px;
    }
    .social-btn {
      height: 38px;
      width: 38px;
    }
  }
  @media screen and (max-width: 240px) {
    .my-block {
      font-size: 0.1em;
    }
    .ascii-section {
        left: 54.5%;
    }
    svg{
      width: 30px;
    }
    .social-btn {
      height: 34px;
      width: 34px;
    }
  }

  a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 